.instructions_button {
  display: flex;
  border: groove;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.instructions_button:hover {
  background-color: #186a83;
}

.modal-screen {
    position:absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background:rgba(0,0,0,0.5);
}

.modal-form {
  font-family: 'Yaldevi', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -102px;
  margin-left: -302px;
  width: 524px;
  height: 384px;
  padding: 8px 24px;
  background: #fff;
  color: #fff;
  background-color: #282828;
  z-index: 3;
  border-radius: 10px;
  border: 1px solid #000;
}

