

.timer {
  display: flex;
  padding: 7px 12px;
  border-radius: 35px;
  background: white;
  align-items: center;

}

.timer__part {
  font-size: 45px;
  padding: .6rem;
  border: none;
  color: black;
  font-family: 'Yaldevi', sans-serif;
}

.timer__btn {
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}


.timer__btn--start {
  background: #186183;
}

.timer__btn--start:hover {
  color: purple;
}

.timer__btn--stop {
  background: red;
}
.timer__btn--stop:hover {
  color: purple;
}

