.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 24px 32px;
  border-radius: 30px;
  background: white;
  color: black;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Yaldevi', sans-serif;

}

.timer__btn {
  width: 40px;
  height: 40px;
  margin-left: 6.5px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}

.timer__btn:hover {
  color: navy;
}


.timer__btn--start {
  background: #186183;
}

.timer__btn--start:hover {
  color: purple;
}

.timer__btn--stop {
  background: red;
}
.timer__btn--stop:hover {
  color: purple;
}



