.box {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 400px;
  backdrop-filter: blur(35px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.watch {
  position: relative;
}

.watch::before {
  content: "";
  position: absolute;
  bottom: -150px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0,0,0,0.2), transparent, transparent);
  border-radius: 50%;
}

.clock {
  position: absolute;
  top: 10px; left: 10px; right: 10px; bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(transparent, rgba(255, 255, 255, 0.2)), url(clock.png);
  background-size: cover;
  border-radius: 50%;
  backdrop-filter: blur(35px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: none;
  border-bottom: none;
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.1), 10px 10px 20px rgba(0, 0, 0, 0.1), 0px 40px 50px rgba(0, 0, 0, 0.1);
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  background: white;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.hh {
  width: 10px;
  height: 35%;
  background-color: black;
}

.clock .hand.mm {
  width: 7px;
  height: 40%;
  background-color: black;
}

.clock .hand.ss {
  width: 3px;
  height: 45%;
  background-color: red;
}


// .clock::before {
//   content: "";
//   position: absolute;
//   width: 15px;
//   height: 15px;
//   background-color: white;
//   border-radius: 50%;
//   z-index: 20;
// }
/////////////////

// .hours, .minutes, .seconds {
//   position: absolute;
// }

// .hours, .hr {
//   width: 220px;
//   height: 220px;
// }

// .minutes, .min {
//   width: 220px;
//   height: 220px;
// }

// .seconds, .sec {
//   width: 220px;
//   height: 220px;
// }

// .hr, .min, .sec {
//   display: flex;
//   justify-content: center;
//   position: absolute;
//   border-radius: 75%;
//   // background-color: red;
// }

// .hr::before {
//   content: "";
//   position: absolute;
//   width: 8px;
//   height: 80px;
//   background: rgb(90, 3, 3);
//   z-index: 3;
//   border-radius: 6px;
// }

// .min::before {
//   content: "";
//   position: absolute;
//   width: 4px;
//   height: 90px;
//   background: white;
//   z-index: 4;
//   border-radius: 6px;
// }

// .sec::before {
//   content: "";
//   position: absolute;
//   width: 2px;
//   height: 150px;
//   background: white;
//   z-index: 5;
//   border-radius: 6px;
// }


